<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>event</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/event.css">

</head>
<body>
    <div class="event_main_container">
        <div class="back">
            <a href="index.html">
                Back
            </a>
        </div>
        <div class="title_container">
            <p class="title">
                SUI &UIST Demonstration
            </p>
            <p class="time">
                2018-08-26
            </p>
        </div>
        <div class="event_container">
            <div class="event_content">
                <!--<img src="img/event1.jpg" alt="MagicPAPER">-->
                <p class="tuige">
                    The MagicPAPER demo has been accepted to SUI 2018 in Berlin, Germany, so our MagicPAPER group will come to Berlin in October. In addition, SUI 2018 will be co-located with the ACM Conference on User Interface Software and Technology(UIST), and our demo is lucky enough to be selected to be presented at the demo session of the UIST 2018 conference! Such a great opportunity to show our system! More information, please pay attention to our website!

                </p>

            </div>

            <div class="other_linker">
                <div class="link">
                    <a href="javascript:">
                        <img class="paper_img" src="img/icon_detail.png" alt="icon_paper">
                        Program detail
                    </a>
                </div>
                <div class="link">
                    <a href="javascript:">
                        <img class="paper_img" src="img/icon_paper.png" alt="icon_paper">
                        Detail
                    </a>
                </div>
                <div class="link">
                    <a href="javascript:">
                        <img class="paper_img" src="img/icon_video.png" alt="icon_paper">
                        video
                    </a>
                </div>
            </div>
            <div class="other">
                <a class="other_arrow last" href="#">
                    <img src="img/arrow.png" alt="last">
                </a>
                <a class="other_arrow next" href="#">
                    <img src="img/arrow.png" alt="next">
                </a>
            </div>

        </div>
    </div>
</body>
</html>