<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!--<!DOCTYPE html >-->
<html>
<head>
    <meta charset="UTF-8">
    <title>
        tiger
    </title>

    <link rel="stylesheet" href="css/base.css" type="text/css">
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <link rel="icon" href="http://oxhbygzr8.bkt.clouddn.com/favicon.ico" type="image/x-icon">

    <script src="js/iconfont.js"></script>
    <script src="js/slider.js"></script>

</head>
<body>

<div class="blogs">
    <a href="posts">blogs</a>
</div>


<div class="first_tier">
    <ul class="first_main">
        <li>
            tigerdone
        </li>
        <li>
            hello!
        </li>
        <li>
            PROJECT LEADER
        </li>
        <li>
            welcome to tiger's personal webpage!
        </li>
        <li>
            <a href="posts">
                Get started
            </a>
        </li>
    </ul>
</div>


<div class="second_titer">
    <p class="second_title">
        WHAT I DO
    </p>
    <div class="second_main">
        <div class="main_card">
            <div class="icon-container">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-bijibendiannao"></use>
                </svg>
            </div>
            <div>
                <p class="card_title">
                    游戏开发
                </p>
                <p class="card_text">
                    负责游戏开发工具和运营维护工具的设计与开发；
                    擅长团队其他人员配合，促进游戏的改进创新。
                </p>
            </div>
        </div>
        <div class="main_card">
            <div class="icon-container">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-lianjie"></use>
                </svg>
            </div>
            <div>
                <p class="card_title">
                    前端开发
                </p>
                <p class="card_text">
                    使用Div+css并结合Javascript负责产品的前端开发和页面制作；熟悉W3C标准和各主流浏览器在前端开发中的差异，能熟练运用DIV+CSS.
                </p>
            </div>
        </div>
        <div class="main_card">
            <div class="icon-container">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-zhifeiji"></use>
                </svg>
            </div>

            <div>
                <p class="card_title">
                    UI & UX 设计
                </p>
                <p class="card_text">
                    做过软件界面的美术设计、
                    创意工作和制作工作；
                    能对页面进行优化，使用户操作更趋于人性化；
                </p>
            </div>
        </div>
    </div>
</div>
<div class="third_container">
    <div class="third_left">
        <h2>
            关于个人能力
        </h2>
        <h4>
            设计与开发
        </h4>
        <p>
            我对前端有浓烈的兴趣，通过一行行代码实现自己想要的好看的效果给我强烈的自豪感，积累了较多编程经验
        </p>
        <p>
            从事编程已经一年多了，中间经历了许多困难，但总归亦步亦趋，一点点的向前走，共勉。
        </p>
    </div>
    <div class="third_right">
        <ul>
            <li>
                <p class="process_title">
                    c/c++
                </p>
                <div class="process">
                    <span>80%</span>
                    <div class="process_value" style="width: 80%">
                        <div class="process_value_bar"></div>
                    </div>
                </div>
            </li>
            <li>
                <p class="process_title">
                    python
                </p>
                <div class="process">
                    <span>30%</span>
                    <div class="process_value" style="width: 30%">
                        <div class="process_value_bar"></div>
                    </div>
                </div>
            </li>
            <li>
                <p class="process_title">
                    html&css
                </p>
                <div class="process">
                    <span>70%</span>
                    <div class="process_value" style="width: 70%">
                        <div class="process_value_bar"></div>
                    </div>
                </div>
            </li>
            <li>
                <p class="process_title">
                    javascript
                </p>
                <div class="process">
                    <span>20%</span>
                    <div class="process_value" style="width: 20%">
                        <div class="process_value_bar"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="fourth_container">
    <p>
        我的一些图片
    </p>
    <div class="photo_container">
        <div class="perspective" onmouseover="high_index(this)" onmouseout="low_index(this)">
            <img src="http://oxhbygzr8.bkt.clouddn.com/portfolio-img1.jpg" alt="">

        </div>
        <div class="perspective" onmouseover="high_index(this)" onmouseout="low_index(this)">
            <img src="http://oxhbygzr8.bkt.clouddn.com/portfolio-img2.jpg" alt="">

        </div>
        <div class="perspective" onmouseover="high_index(this)" onmouseout="low_index(this)">
            <img src="http://oxhbygzr8.bkt.clouddn.com/portfolio-img3.jpg" alt="">

        </div>
    </div>
    <div class="photo_container_two">
        <img src="http://oxhbygzr8.bkt.clouddn.com/portfolio-img4.jpg" alt="" onmouseover="index(this)">
        <img src="http://oxhbygzr8.bkt.clouddn.com/portfolio-img5.jpg" alt="" onmouseover="index(this)">
    </div>
</div>
<div class="fifth_container">
    <div class="fifth_left">
        <p class="contact_title">
            联系我
        </p>
        <div class="contact">
            <div class="icon-container">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-dianhua"></use>
                </svg>
            </div>
            <p>
                18200533997
            </p>
        </div>
        <div class="contact">
            <div class="icon-container">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-youjian"></use>
                </svg>
            </div>
            <p>
                3196083633@qq.com
            </p>
        </div>
        <div class="contact">
            <div class="icon-container">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-dingwei"></use>
                </svg>
            </div>
            <p>
                四川 · 成都 · 成都信息工程大学
            </p>
        </div>
    </div>
    <div class="fifth_right">
        <input type="text" placeholder="你的名字"
               onfocus="change_bg(this)" onblur="rechange(this)">
        <input type="text" placeholder="你的邮箱"
               onfocus="change_bg(this)" onblur="rechange(this)">

        <textarea name="message" rows="5" placeholder="你的信息" onfocus="change_bg(this)" onblur="rechange(this)"></textarea>
        <button>SEND ME</button>
    </div>


</div>
<div class="footer">
    <p>
        Copyright tigerdone
    </p>
</div>

<!--<audio src="妖尾op15.mp3" autoplay="autoplay" loop="loop"></audio>-->


<script type="text/javascript">

    var mydiv=document.getElementById("sli");
    var mydiv_resize=function(){

        var f = document.getElementsByClassName("slider");
        var c = document.getElementsByClassName("content");
        var f_x = f[0].clientWidth.toString();
        var c_x = c[0].clientWidth.toString();

        mydiv.style.width=document.body.clientWidth;

//        c[0].style.left = (f_x-c_x)/2 + "px";
    }
    mydiv_resize();
    window.onresize=mydiv_resize;

    function high_index() {
        arguments[0].style.zIndex = 100;
    }
    function low_index() {
        arguments[0].style.zIndex = 0;
    }


    function change_bg() {
        arguments[0].style.backgroundColor = "#fff";
        arguments[0].style.color = "#000";
    }
    function rechange() {
        arguments[0].style.backgroundColor = "#000";
        arguments[0].style.color = "#fff";
    }
</script>
</body>

</html>

