<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        登录
    </title>

    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/base.css">

    <style>
        html {
            background: url("img/login.jpg") center top no-repeat;
        }
        .body {
            background-color: rgba(237, 240, 245, 0);
        }
    </style>

</head>
<body class="body">

    <!--<div class="bg_box bg1">-->
    <!--</div>-->
    <!--<div class="bg_box bg2">-->
    <!--</div>-->
    <!--<div class="bg_box bg3">-->
    <!--</div>-->
    <p class="firm_title">
        管理员后台管理系统
    </p>
    <div class="container">
        <div class="login_box">
            <p class="item">
                登录
            </p>

            <form id="my_form" action="./login_in" class="input_box" method="post">
                <div class="input_item">
                    <div class="the_icon">
                        <img src="img/user.jpg" alt="user">
                    </div>
                    <input class="username" required="required" type="text" placeholder="账号" name="name" >
                </div>

                <div class="input_item">
                    <div class="the_icon">
                        <img src="img/password.jpg" alt="user">
                    </div>
                    <input  type="password" required="required" placeholder="密码" name="password">
                </div>

                <div class="input_item radio">
                    <div class="radio_item">
                    <label>
                        <input  required="required" value="管理员"  name="login_type" type="radio" checked>
                        <span>
                            管理员
                        </span>
                    </label>
                    </div>
                    <div class="radio_item">
                        <label>
                            <input  required="required" value="超级管理员"  name="login_type" type="radio">
                            <span>
                                超级管理员
                            </span>
                        </label>
                    </div>
                </div>

                <div class="attention">
                <!--message-->
                </div>

                <div class="btn_item">
                    <button id="my_submit" type="button" class="button login_in">
                        登录
                    </button>
                    <button type="button" class="button" type="button" onclick="window.location.href='../../'">
                        取消
                    </button>
                </div>
            </form>

        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script>
        function my_test() {

        }

//        $('#my_submit').click(function () {
//            if($('#my_form').serialize().name !== ""){
//                alert($('#my_form').serialize())
//
//                console.log("okok")
//                $.ajax({
//                    type: "POST",
//                    url: "./login_in",
//                    data: $('#my_form').serialize(),
//                    dataType : "json",
//                    success: function(respMsg){
//                        console.log(respMsg)
//                    }
//                });
//
//            }
//            else{
//                alert("请填写账号")
//            }
//
//        })

    </script>
</body>
</html>

