


.container{
    margin: 170px auto;
    /* width: 900px; */
    /* padding: 0 225px 0 135px; */
}

.event_main_container{
    margin: 80px auto;
    max-width: 1120px;
    /* padding:  20px; */
}

.back a{
    font-size: 20px;
    font-weight: bold;
    border: solid #000 4px;
    padding: 27px 77px;
    transition: all 1s;
    display:  inline-block;
    width:  252px;
    height:  75px;
    font-size:  28pt;
}
.back a:hover{
    background-color: rgb(125, 125, 125, 0.5);
}
.title_container{
    margin: 80px 0 0 0;
}
.title{
    font-size: 44pt;
    font-weight: bold;
    line-height: 100px;
}
.time{
    margin: 60px 0;
    font-size: 24pt;
    font-weight:  bold;
}
.event_content{
    font-size: 12px;
    width: 64%;
    float: left;
}
.event_content p{
    margin: 35px 0;
    font-size: 20pt;
    line-height: 50px;
    color: #6c6c6c;
}

.event_content img{

width: 100%;
}

.event_container{
    /* width: 300px; */
    padding: 10px 0 0 10px;
    position: relative;
}
.tuige{
    text-indent: 75px;
    font-size: 20pt;
    line-height: 40px;
    color: #6c6c6c;
}
.right_box{
    float: right;
    width: 233px;
    height: 20px;
}
.other_linker{
    /* position: absolute; */
    /* top: 10px; */
    /* right: 2px; */
    float:  right;
}
.other_linker2{
    position: fixed;
    top: 120px;
}
.paper_img{
    width: 35px;
}
.link{
    margin: 0 0 20px 0;
}
.link a{
    color: #aaa;
    font-size: 16pt;
    line-height:  40px;
}
.last{
    /* bottom: -80px; */
    /* right: 160px; */
    position: relative;
    left: -50px;
}
.next{
    /* position: relative; */
    /* bottom: -80px; */
    /* right: 23px; */
}
.other .dispaly{
    display: none;
}
.last img{
    width: 35px;
    transform:rotate(-90deg);
    position:  relative;
    top: 12px;
    left: 11px;
}
.next img{
    width: 35px;
    transform:rotate(90deg);
    position: relative;
    top: 12px;
    left: 11px;
}
.other{
    margin: 130px 0 0 0;
    text-align:  right;
    padding: 0 200px;
}
.other2{
    position: relative;
    left: 220px;
}
.other_arrow{
    border: solid #000 4px;
    padding: 7px;
    transition: all 1s;
    display:  inline-block;
    width:  75px;
    height:  75px;
    text-align: left;
}

/*********************program*********************/

.container{
    margin: 80px auto;
    /* width: 900px; */
    /* padding: 0 225px 0 135px; */
    max-width: 1760px;
    padding: 0 100px 40px 140px;
}
.program_title {
    margin: 80px 0 100px 0;
    padding: 0 20px 0 0;
}
.program_title a{
    padding: 0 0 5px 0;
    border-bottom: solid #b0b0b0 3px;
    font-size: 42pt;
    line-height: 100px;
    font-weight:  bold;
}
.other_linker_program{
    text-align: left;
    /* width: 90px; */
    /* margin: 100px 0 0 0; */
}
.program_container{
    /* width: 410px; */
    /* padding: 10px 0 0 10px; */
    /* position: relative; */
}
.program_content img{
    /* max-width: 934px; */
    /* margin: 0 auto; */
    /* width: 100%; */
    /* height: 60%; */
}
.content_container{
    width: 100%;
}
.program_content{
    float: left;
    width: 70%;
    max-width:  934px;
}
.test{
    /* vertical-align: middle; */
    /* display: inline-block; */
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
.img_box{
    text-align: center;
    overflow:  hidden;
    /* vertical-align: middle; */
    max-height: 525px;
    margin: 0 0 100px 0;
}

.writer_detial{
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* left:  10px; */
    /* width: 150px; */
    margin:  0 0 100px 0;
}
.writer_detial p{
    font-size: 24pt;
    margin: 8px 0;
    line-height: 46px;
}
.writer_detial h1{
    font-size: 20pt;
    margin: 8px 0;
    color: #aaa;
    line-height: 34px;
}

.pro_other{
    /* position: absolute; */
    /* top: 0; */
    width: 25%;
    /* right: -100px; */
    float:  right;
}
