


.container{
    margin: 170px auto;
    /* width: 900px; */
    /* padding: 0 225px 0 135px; */
}

.event_main_container{
    margin: 40px auto;
    max-width: 560px;
    /* padding:  20px; */
}

.back a{
    font-size: 20px;
    font-weight: bold;
    border: solid #000 2px;
    padding: 8px 38px;
    transition: background-color 1s;
    display:  inline-block;
    width: 126px;
    height: 37px;
    font-size: 14pt;
}
.back a:hover{
    background-color: rgb(125, 125, 125, 0.5);
}
.title_container{
    margin: 40px 0 0 0;
}
.title{
    font-size: 22pt;
    font-weight: bold;
    line-height: 50px;
}
.time{
    margin: 30px 0;
    font-size: 12pt;
    font-weight:  bold;
}
.event_content{
    font-size: 12px;
    width: 64%;
    float: left;
}
.event_content p{
    margin: 7px 0;
    font-size: 10pt;
    line-height: 25px;
    color: #6c6c6c;
}

.event_content img{width: 100%;margin: 10px 0;}

.event_container{
    /* width: 300px; */
    padding: 10px 0 0 10px;
    position: relative;
}
.tuige{
    text-indent: 18px;
    font-size: 10pt;
    line-height: 20px;
    color: #6c6c6c;
}
.right_box{
    float: right;
    width: 116px;
    /* height: 20px; */
}
.other_linker{
    /* position: absolute; */
    /* top: 10px; */
    /* right: 2px; */
    /* float:  right; */
}
.other_linker2{
    position: fixed;
    top: 60px;
}
.paper_img{
    width: 17px;
}
.link{
    margin: 0 0 20px 0;
}
.link a{
    color: #aaa;
    font-size: 8pt;
    line-height: 20px;
}
.last{
    /* bottom: -80px; */
    /* right: 160px; */
    position: relative;
    left: -22px;
}
.next{
    /* position: relative; */
    /* bottom: -80px; */
    /* right: 23px; */
}
.other .dispaly{
    display: none;
}
.last img{
    width: 18px;
    transform:rotate(-90deg);
    position:  relative;
    top: 4px;
    left: 4px;
}
.next img{
    width: 18px;
    transform:rotate(90deg);
    position: relative;
    top: 4px;
    left: 4px;
}
.other{
    margin: 65px 0 0 0;
    text-align:  right;
    padding: 0 100px;
}
.other2{
    position: relative;
    left: 80px;
}
.other_arrow{
    border: solid #000 2px;
    padding: 4px;
    transition: all 1s;
    display:  inline-block;
    width: 37px;
    height: 37px;
    text-align: left;
}

/*********************program*********************/

.container{
    margin: 40px auto;
    /* width: 900px; */
    /* padding: 0 225px 0 135px; */
    max-width: 880px;
    padding: 0 50px 20px 70px;
}
.program_title {
    margin: 40px 0 50px 0;
    padding: 0 20px 0 0;
}
.program_title a{
    padding: 0 0 5px 0;
    border-bottom: solid #b0b0b0 2px;
    font-size: 21pt;
    line-height: 50px;
    font-weight:  bold;
}
.other_linker_program{
    text-align: left;
    /* width: 90px; */
    /* margin: 100px 0 0 0; */
}
.program_container{
    /* width: 410px; */
    /* padding: 10px 0 0 10px; */
    /* position: relative; */
}
.program_content img{
    /* max-width: 934px; */
    /* margin: 0 auto; */
    width: 100%;
    /* height: 60%; */
}
.content_container{
    width: 100%;
}
.program_content{
    float: left;
    width: 66%;
    max-width:  934px;
}
.test{
    /* vertical-align: middle; */
    /* display: inline-block; */
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
.img_box{
    text-align: center;
    overflow:  hidden;
    /* vertical-align: middle; */
    max-height: 467px;
    margin: 0 0 50px 0;
}

.writer_detial{
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* left:  10px; */
    /* width: 150px; */
    margin:  0 0 100px 0;
}
.writer_detial p{
    font-size: 12pt;
    margin: 4px 0;
    line-height: 23px;
}
.writer_detial h1{
    font-size: 10pt;
    margin: 4px 0;
    color: #aaa;
    line-height: 17px;
}

.pro_other{
    /* position: absolute; */
    /* top: 0; */
    width: 25%;
    /* right: -100px; */
    float:  right;
}
