@font-face {
    font-family: 'NotoSansHans';
    src: url('fonts/NotoSansHans-Bold.otf');
    src: url('fonts/NotoSansHans-Regular.otf');
}

@keyframes fade-in {
    0% {opacity: 0;}/*初始状态 透明度为0*/
    40% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {/*针对webkit内核*/
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}
.prepare_fadein{
    opacity: 0;
    position: relative;
    top:10px;
}
.stair2{

/* margin: 30px; */
}

/*#wrapper {*/
    /*animation: fade-in;!*动画名称*!*/
    /*animation-duration: 1.5s;!*动画持续时间*!*/
    /*-webkit-animation:fade-in 1.5s;!*针对webkit内核*!*/
/*}*/

.my_fadein{
    animation: fade-in;/*动画名称*/
    animation-duration: 1.5s;/*动画持续时间*/
    -webkit-animation:fade-in 1.5s;/*针对webkit内核*/
}


.clearfix{
    *zoom:1;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.clearparentDiv::after{
    content: "";
    display: block;
    overflow: hidden;
}

.main_box{
    /*background-color: #a0a0a0;*/
    background: url("../img/banner01.jpg") no-repeat center;
    background-size: cover;
    min-width: 1080px;
}

.main_header{
    margin: 0 auto;
    width: 1080px;
    position: relative;
}


.stair1_box{
    background-color: #a0a0a0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    min-width: 564px;
}
.stair1{
    /* padding: 15px 80px 20px 140px; */
    /*width: auto;*/
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    /* background-color: #a0a0a0; */
    transition: all .4s ease-in-out;
    z-index: 40;
    width: auto;
    padding: 0;
    padding: 55px 80px 0px 80px;
    /*box-shadow: 0px 0px 5px #333333;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background-color: #fff;*/
    /*transition: all .4s ease-in-out;*/
    /*z-index: 40;*/
    /*width: auto;*/
    /*padding: 0;*/
    /*padding: 20px 40px;*/
}
.stair1_pine{
    box-shadow: 0px 0px 5px #333333;
    background-color: #7d7d7d;
    padding: 30px 50px;
}
.stair1_left{
    /*float: left;*/
    /*padding: 0 0 12px 0;*/
    color: black;
    text-decoration: none;
}
.stair1_left img{
    width: 193px;
    height:  65px;
    transition: all .4s ease-in-out;
    float: left;
    /* height: 80px; */
    /* width: auto; */
    /* margin: 9px 0 0 0; */
}
.logo_top img{
     width: 220px;
     height:  74px;
}

.header_items{
    padding: 16px 0px 0 0;
    transition: all .4s ease-in-out;
    float: right;
    margin: 0 -25px 0 0;
}
.header_items li{
    transition: all .4s ease-in-out;
    display: table-cell;
    vertical-align: middle;
    height: 53px;
    padding: 0 15px;
    /* margin: -30px 0; */
}
.header_items a{
    color: #d0d0d0;
    font-size: 28px;
    transition: all .4s ease-in-out;
    padding: 10px 25px;
    display:  inline-block;
    margin: 0 20px;
}
.header_items_pien{
    /* height: 83px; */
    padding: 17px 0 0 0;
    margin:  0 -30px 0 0;
}
.header_items_pien a{
    font-size: 32px;
    padding: 10px 30px;
}
.header_items a.choose{
    color: #ffffff;
    font-weight: 600;
}
.header_items a:hover{

    color: #ffffff;
    /*transition: all .4s ease-in-out;*/
    /*font-weight: 600;*/
    /*font-size: 17px;*/

}

.stair2 h1{
    text-align: center;
    /* padding: 42% 0; */
    font-size: 72px;
    color: #fff;
    position: absolute;
    top: 50%;
    font-weight:  bold;
    line-height: 45px;
    /* margin: 200px auto; */
    left:  0px;
    right:  0px;
    /* border-bottom: 20px solid #FFF; */
    /* border-bottom-width:  64px; */
}
.border{
    border-bottom: 6px solid #FFF;
    width: 96px;
    position:  relative;
    left: 490px;
    top: 55px;
}
.container_box{
     position: absolute;

}


.main_body{
    min-width: 1080px;

}
.body1{
    background-color: #fff;
    min-width: 1080px;
    /*width: 1080px;*/
    /*margin: 0 auto;*/
}
.body1_stair1{
    padding: 60px 0;
    text-align: center;
}
.body2_stair2{
    padding: 80px 0;
    text-align: center;
}
.body1_stair2{
    text-align: center;

}
.title{
    font-size: 20px;
    font-weight:bold;
    /*text-decoration: underline;*/
    /*border-bottom: solid #000 2px;*/
    padding: 160px 0 97px 0;
}
.title p{
    padding: 0 0 12px 0;
    border-bottom: solid #b0b0b0 3px;
    display: inline;
    font-size: 42px;
}
.button a{
    font-size: 22pt;
    font-weight:bold;
    border: solid #000 4px;
    padding: 27px 0;
    transition: all .5s;
    width: 252px;
    height:  75px;
    display:  inline-block;
}
.button a:hover{
    background-color: rgba(125, 125, 125, 0.5);
}


.title_color{
    color: #fff;
}
.body1_stair3_container{
    position: relative;
    /* width: 1920px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.body1_stair3{
    background-color: #a0a0a0;
    margin: 160px 0 0 0;
}
.font_weith{
    width: 62.5%;
    margin: 0 auto;
    font-size: 25px;
    line-height: 38px;
}
.font_weith p{
    color:  #333;
}
.box{
    display: flex;
    justify-content: space-around;
}
.body1_stair3_box{
    width: 50%;
    text-align: center;
    padding: 0 0 67px 0;
}
.stair1_title{
    padding: 90px 0 40px 0;
}
/*.body1_stair3 img{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /**/
/*}*/

.research_stair{
    padding: 77px 0 0 0;
    width: 80%;
    margin:   0 auto;
}


.img_box {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    background: url("../img/members.jpg") no-repeat center;
    background-size: cover;
}

.img_box img{
    /* max-width: 100%; */
    /* max-height: 350px; */
    /* max-height:  100%; */
    width:  100%;
}


.research_items{

}
.Research_interests{
    border-bottom: solid #fff 2px;
    color: #fff;
    padding: 0 0 12px 0;
    font-size: 42px;
}
.research_item{
    width: 280px;
    padding: 0 0 20px 0;
}
.research_item img{
    position: relative;
    width: 62px;
}

.research_item i{
    color: #fff;
    font-size: 30px;
}
.research_item p{
    color: #fff;
    margin: 32px 0 0 0;
    font-size:  24px;
}

.icon-container{
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    /*position: absolute;*/
    left: 5px;
    transition: all 1s;

}
.icon-container:hover{
    background-color: #fff;
}
.icon-container .icon{
    color: #D43F52;
    font-size: 9px;
    /*position: relative;*/
    /*top: 14px;*/
}


.body2{
    background-color: #eee;
    min-width: 1080px;
}
.body2_container{
    /* width: 80%; */
    display: flex;
    margin: 0 auto;
    padding: 0 0 200px 0;
    transition: 1s;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}


.program_card{
    background-color: #fff;
    transition: 0.5s;
    cursor:pointer;
    width:  290px;
    margin: 27px 40px;
}
.program_card:hover{
    box-shadow: 5px 5px 8px #88888894;
    top: -5px;
    transform: translateY(-5px);
}
.card_img{
    width:  290px;
    height: 290px;
}
.program_card img{
    height: 145px;
    width: 290px;
    vertical-align:middle;
}

.program_mobile{
    /* padding: 10px; */
    background-color: #fff;
    transition: 0.5s;
    cursor:pointer;
    display: inline-block;
    /* height: 220px; */
    /* width: 310px; */
    float: left;
    margin: 28px 28px;
}
.program_mobile:hover{
    box-shadow: 5px 5px 8px #88888894;
    top: -5px;
    transform: translateY(-5px);
}

.program_mobile img{
    height: 260px;
    width: 668px;
    vertical-align:middle;
}

.member_card img{
    width: 100%;
    height: 100%;
}

.program_card_title{
    text-align: center;
    /* height: 130px; */
    width: 668px;
    font-size: 24pt;
    /* vertical-align: middle; */
    height: 130px;
    display:  flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 24px 0;
}
.program_card_title p{
    width:  100%;
    display:  inline-block;
    line-height: 40px;
}
.intro{
    padding: 22px 28px;
}
.person_card_title{
    /* margin: 30px; */
    font-weight: bold;
    color:  #333;
    font-size: 12pt;
    line-height: 26px;
}
.person_card_content{
    margin: 16px 0;
    font-size: 11pt;
    color: #787878;
}
.body3{
    background-color: #fff;
    min-width: 1080px;
    padding: 0 0 240px 0;
}

.body3_item{
    width: 1080px;
    padding: 0 0 50px 0;
    margin: 0 auto;
}
.body3_get{
    padding: 0 30px;
    display: inline;
}
.publication_choose a{
    color: #333;
    padding: 11px 0;
    border-bottom: solid #b0b0b0 4px;
    font-size:  28pt;
}

.publication_button{
    font-size: 28pt;
    font-weight:bold;
    color: #979797;
}

.button{
     font-weight:bold;
     color: #979797;
     padding: 90px 0 160px 0;
 }
.prominent{
    background-color: #e5e5e5;
}
.display{
    display: none;
}
.body5_stair2_container .display{
    display: none;
}
.list_container{
     padding: 20px 380px 20px 50px;
     font-size: 16pt;
     max-width: 1400px;
     margin: 0 auto;
     color: #333;
     position: relative;
     line-height: 34px;
     height: 122px;
     vertical-align: middle;
     display: flex;
     align-items: center;
 }
.list_container p{
    max-width: 1046px;
}
.pub_more2{
    position: absolute;
    right: 20px;
    top: 20px;
    /* width: 130px; */
}
.pub_more2 a{
    color: #a0a0a0;
}

.pub_more{
    position: absolute;
    right: 0px;
    top: 42px;
}
.paper_img{
    width: 40px;
    position: relative;
    top: -1px;
    left: -4px;
}
.pub_more a{
    color: #989898;
    margin: 0 20px;
}
.body4_title{
    color: #fff;
}
.body4_title p{
    padding: 0 0 5px 0;
    border-bottom: solid #fff 2px;
    display: inline;
}

.body4_main{
    max-width: 1420px;
    margin: 0 auto;
}
.body4_main_container{
    padding: 0 50px;
}

.events_stair1_left{
    float: left;
    width: 46%;
}

.events_stair1_right{
    float: right;
    /* padding: 0 60px 0 0; */
    width: 46%;
}

.event_item{
    border-top: solid #fff 2px;
    padding: 20px 0 14px 0;
    /* width: 360px; */
}
.event_item p{
    color: #fff;
    line-height: 44px;
}
.event_detail{
    margin: 20px 0;
}
.event_detail p{
    color: #fff;
    line-height: 40px;
}
.event_title{
    font-size: 23pt;
    font-weight:  bold;
}

.events_stair1_left img{
    width: 100%;
    /* height: 494px; */
}
.event_time{
    font-size: 15pt;
    margin: 5px 0;
}

.body4{
    background-color: #a0a0a0;
    /*height: 500px;!*test*!*/
    padding: 0 0 200px 0;
}
.body5_stair1{
    /* width: 1080px; */
    margin: 160px auto;
    position: relative;
    /* padding: 0 20px 110px 20px; */
}
.leader_img{
    /* width:  400px; */
    /* height: 250px; */
    overflow:  hidden;
    float:  left;
    width: 33%;
}
.leader_img img{
    width: 100%;
}
.leader_introduce{
    width: 63%;
    float:  right;
    padding: 20px 70px 0 0;

}
.leader_introduce p{
    /* padding: 20px 0 0 0; */
}
.body5_title{
    /*color: #fff;*/
    /*text-align: center;*/
    padding: 5px 0;
}
.body5_title p{
    color:  #333;
    font-size: 29pt;
    font-weight: bold;
    padding: 0 0 5px 0;
    border-bottom: solid #b0b0b0 3px;
    display: inline;
}
.leader_name{
    font-size: 32pt;
    font-weight: 800;
    margin: 40px 0 30px 0;
}

.leader_detial{
    margin: 10px 0;
    font-size: 15pt;
    line-height: 31px;
    color: #333;
}

.body5_stair2{
    background-color: #eee;
}

.member_title{
    /*color: #fff;*/
    /*text-align: center;*/
    padding: 140px 80px 72px 80px;
    position: relative;
}
.member_title p{
    font-size: 29pt;
    font-weight: bold;
    padding: 0 0 5px 0;
    border-bottom: solid #b0b0b0 3px;
    display: inline;
    color:  #333;
}
.member_container{
    display: flex;
    margin: 40px auto;
    padding: 0 9%;
    width:  100%;
    flex-wrap: wrap;
}

.activities{
    margin: 0 auto;
    /* width: 1080px; */
    padding: 0 0 160px 0;
}
.activities_container{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    /* width: 33%; */
}

.act{
    position: relative;
    transition: all 0.5s;
    float: left;
    width: 33.3%;
}
.act:hover .meeting{
    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,1);
}



.shadow1{
    background-color: rgba(0,0,0,0.7);
    width: 331px;
    height: 219px;
    position: absolute;
    top: 0px;
    left: 66px;
}
.shadow2{
    background-color: rgba(0,0,0,0.7);
    width: 309px;
    height: 219px;
    position: absolute;
    top: 0px;
    right: 66px;
}
.meeting{
    position: absolute;
    color: rgba(255,255,255,0);
    transition: all 1s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor:  pointer;
}
.meeting span{
    font-size: 27px;
    font-weight: 600;
    padding: 33% 0;
    display:  inline-block;
}

.brainstrming{
    position: absolute;
    top: 108px;
    right: 100px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.activities img{
    vertical-align:middle;
    width:  100%;
    height: 100%;
}
.activities_detail{
    /*height:225px;*/
    width: 300px;
    text-align: center;
    margin: 80px 0 0 0;
}
.activities_detail p{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    line-height: 30px;
}
.video{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    max-width: 1280px;
}

.video img{

/* max-height: 700px; */

/* max-width: 500px; */

width:  100%;

height:  100%;
}

.video_intro{
    height: 400px;

}
.video_intro p{
    border-left: solid #a1a1a1 3px;
    height: 200px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 40px;
    width: 230px;
    line-height: 26px;
}
.main_footer{
    /*height: 70px;*/
    background-color: #535353;
}
.footer_stair1{
    padding: 132px 0 0 0;
    margin: 0 auto;
    color: #a9a9a9;
    text-align: center;
    font-size: 24pt;
    line-height: 54px;
}
.footer_stair2{
    padding: 90px 0;
    color: #878787;
    text-align: center;
    font-size: 16pt;
}