body{
    background-color: #1a1a1a;
    margin: 0 auto;
}

@-webkit-keyframes greenPulse {
    from { background-color: #d43f52; -webkit-box-shadow: 0 0 9px #d44573; }
    50% { background-color: #d43f52; -webkit-box-shadow: 0 0 18px #d43f52; }
    to { background-color: #d43f52; -webkit-box-shadow: 0 0 9px #d44573; }
}
.blogs a{
    width: 50px;
    height: 50px;
    position: fixed;
    /*box-shadow: 10px 10px 5px #888888;*/
    border-radius: 25px;
    color: #fff;
    background-color: #D43F52;
    display: block;
    top: 80px;
    right: 80px;
    z-index: 100;
    cursor:pointer;
    font-size: 8px;
    line-height: 50px;
    text-align: center;

    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    transition: all 0.6s;

}
.blogs a:hover{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    top: 75px;
    right: 75px;
    font-size: 12px;
}
.first_tier{
    position: relative;
}
.slider{
    width: 1220px;
    height: 700px;
    z-index: -1;
    overflow: hidden;
    position: relative;
    left: 0;
    margin: 0 auto;
    min-width: 1080px;
    max-width: 1520px;
}
.content{
    width: 1520px;
    position: relative;
    left: 0;

}
.content ul{
    width: 10000px;
    position: relative;
    left: 0;
}

.content li{
    float: left;
}
.content li img{
    width: 1520px;
    height: 700px;
}



.control{
    /*position: absolute;*/
    padding: 13px 0 0 0;
    z-index: 10;
    bottom: 50px;
    left: 0;
    text-align: center;
}
.control span{
    display: inline-block;
    width: 60px;
    height: 5px;
    text-align: center;
    font-size: 14px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    cursor: pointer;
}
.control span.current{
    background-color: #2f3e45;
}



.first_tier{
    background: url("http://oxhbygzr8.bkt.clouddn.com/home-bg.jpg")  no-repeat center;
    background-size: cover;
    padding: 120px 0 140px 0;
    text-align: center;
    min-width: 880px;
}
.first_main{
    width: 750px;
    height: 417px;
    margin: 0 auto;
}
.first_main li{
    margin: 18px;
    font-weight: bold;
}
.first_main li:nth-child(1){
    font-size: 24px;
}
.first_main li:nth-child(2){
    border: 2px solid #D43F52;
    color: #D43F52;
    display: inline-block;
    letter-spacing: 6px;
    padding: 25px 35px;
    margin: 30px 0;
    font-size: 36px;
}
.first_main li:nth-child(3){
    font-size: 30px;

}
.first_main li:nth-child(4){
    font-weight: 300;
    margin: 40px;
    color: #999;
    font-size: 14px;

}
.first_main li:nth-child(5) a{
    font-size: 14px;
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    padding: 25px 35px;
    border-radius: 5px;
}
.first_main li:nth-child(5) a:hover{

    font-size: 14px;
    display: inline-block;
    border: 2px solid #D43F52;
    background-color: #D43F52;
    color: #fff;
    padding: 25px 35px;
}

.start a{
    font-size: 14px;
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    padding: 25px 35px;
    border-radius: 5px;
    transition: all 1s;
}
.start a:hover{
    font-size: 14px;
    display: inline-block;
    border: 2px solid #D43F52;
    background-color: #D43F52;
    color: #fff;
    padding: 25px 35px;
}
.second_titer{
    padding: 100px 70px;
    text-align: center;
    min-width: 880px;
}
.second_container{
}
.second_title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0 60px 0;
}
.second_main{
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.main_card{
    text-align: left;
    /*display: inline-block;*/
    width: 360px;
    height: 166px;
    position: relative;
    padding: 0 39px 0 94px;
}
.icon-container{
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 5px;
    transition: all 1s;

}
.icon-container:hover{
    background-color: #fff;
}
.icon-container .icon{
    color: #D43F52;
    font-size: 25px;
    position: relative;
    top: 14px;
}
.card_title{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}
.card_text{
    color: #999;
}
.third_container{
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 140px 70px;
    background-color: #000;
    min-width: 1080px;
}
.third_left{
    width: 555px;
}
.third_left h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0;
}
.third_left h4{
    padding: 15px 0;
    color: #D43F52;
    font-weight: bold;
    font-size: 18px;
}
.third_left p{
    color: #999;
    margin: 0 0 10px;
}
.third_right{
    width: 555px;
    padding: 0 0 0 30px;
}
.third_right ul{
    perspective: 1200px;

}
.third_right ul li{
    transition: all 1s;
}
.third_right ul li:hover{
    transform: scaleZ(2.8) rotateY(45deg);

}
.process{
    width: 100%;
    background-color: #fff;
    height: 6px;
    border-radius: 3px;
    position: relative;
}
.process_title{
    font-weight: bold;
    font-size: 20px;
    padding: 18px 0 10px 0;
}
.process span{
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    position: absolute;
    top: -33px;
    right: 0;
}
.process_value{
    background-color: #D43F52;
    border-radius: 3px;
    height: 100%;
}
.fourth_container{
    padding: 100px 0;
    text-align: center;
    min-width: 1080px;
}
.fourth_container p{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0 60px 0;
}
.photo_container{
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.perspective{
    perspective: 320px;

}
.photo_container img{
    width: 360px;
    height: 240px;
    padding: 10px 15px;
    transition: all 1s;
}

.photo_container img:hover{
    /*transform: scaleX(1.2) rotateY(45deg);*/
    transform: translate3d(0, 0, 100px);
}

.photo_container_two{
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    perspective: 1200px;

}
.photo_container_two img{
    width: 540px;
    height: 370px;
    padding: 10px 15px;
    transition: all 1s;
}

.photo_container_two img:hover{
    transform:   rotateY(-25deg);
}
.fifth_container{
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 140px 70px 140px 95px;
    background-color: #000;
    min-width: 1080px;
}
.fifth_left{
    width: 555px;
}
.contact_title{
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0 30px 0;
}
.contact{
    text-align: left;
    /*display: inline-block;*/
    height: 68px;
    position: relative;
    padding: 0 0px 0 87px;
}
.contact p{
    /*display: inline-block;*/
    color: #999;
    line-height: 70px;
    font-size: 14px;
}

.fifth_right{
    width: 555px;
    padding: 0 0 0 30px;

}
.fifth_right input{
    background: transparent;
    border: 2px solid #999;
    color: #fff;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 15px;
}
.fifth_right textarea{
    background: transparent;
    border: 2px solid #999;
    color: #fff;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 15px;
    outline: none;
}
.fifth_right button{
    background-color: #D43F52;
    font-weight: bold;
    width: 100%;
    height: 50px;
    color: #fff;
    transition: all 1s;

}
.fifth_right button:hover{
    background-color: #fff;
    color: #D43F52;
}
.footer{
    text-align: center;
    padding: 40px 70px 140px 95px;
    background-color: #000;
    min-width: 1080px;
    border-top: 1px solid rgba(99,99,99,0.3);
}
.footer p{
    color: #999;

}

