@font-face {
    font-family: 'NotoSansHans';
    src: url('fonts/NotoSansHans-Bold.otf');
    src: url('fonts/NotoSansHans-Regular.otf');
}

@keyframes fade-in {
    0% {opacity: 0;}/*初始状态 透明度为0*/
    40% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {/*针对webkit内核*/
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}

.prepare_fadein{
    opacity: 0;
    position: relative;
    top:10px;
}
/*#wrapper {*/
/*animation: fade-in;!*动画名称*!*/
/*animation-duration: 1.5s;!*动画持续时间*!*/
/*-webkit-animation:fade-in 1.5s;!*针对webkit内核*!*/
/*}*/

.my_fadein{
    animation: fade-in;/*动画名称*/
    animation-duration: 1.5s;/*动画持续时间*/
    -webkit-animation:fade-in 1.5s;/*针对webkit内核*/
}


.clearfix{
    *zoom:1;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.clearparentDiv::after{
    content: "";
    display: block;
    overflow: hidden;
}

.main_box{
    min-width: 640px;
    /*background: url("../img/bg1.jpg") no-repeat 100% 100%;*/
    background: url("../img/banner02.jpg") no-repeat center;
    background-size: cover;

}
.main_header{
    margin: 0 auto;
    width: 640px;
    position: relative;
}


.stair1_box{
    background-color: #a0a0a0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    min-width: 564px;
}
.stair1{
    /* padding: 15px 80px 20px 140px; */
    /*width: auto;*/
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    /* background-color: #a0a0a0; */
    transition: all .4s ease-in-out;
    z-index: 40;
    width: auto;
    padding: 0;
    padding: 12px 30px 15px 40px;
    /*box-shadow: 0px 0px 5px #333333;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background-color: #fff;*/
    /*transition: all .4s ease-in-out;*/
    /*z-index: 40;*/
    /*width: auto;*/
    /*padding: 0;*/
    /*padding: 20px 40px;*/
}
.stair1_pine{
    box-shadow: 0px 0px 5px #333333;
    background-color: #7d7d7d;
}
.stair1_left{
    /*float: left;*/
    /*padding: 0 0 12px 0;*/
    color: black;
    text-decoration: none;
}
.stair1_left img{
    width: 122px;
    transition: all .4s ease-in-out;
    float: left;
    /* height: 80px; */
    /* width: auto; */
    margin: 9px 0 0 0;
}
.logo_top img{
    width: 150px;
}

.header_items{
    padding: 13px 0 0 0;
    transition: all .4s ease-in-out;
    float: right;
}
.header_items li{
    transition: all .4s ease-in-out;
    display: table-cell;
    vertical-align: middle;
    height: 53px;
    padding: 0 15px;
    /* margin: -30px 0; */
}
.header_items a{
    color: #d0d0d0;
    font-size: 13px;
    transition: all .4s ease-in-out;
    padding: 0 6px;
    /* margin: 10px 10px; */
    /* height: 40px; */
    line-height: 30px;
}
.header_items_pien{
    /* height: 83px; */
    padding: 19px 0 0 0;
}
.header_items_pien a{
    font-size: 16px;
}
.header_items a.choose{
    color: #ffffff;
    font-weight:  bold;
}
.header_items a:hover{

    color: #ffffff;
    /*font-size: 17px;*/

}



.stair2 h1{
    text-align: center;
    /* padding: 42% 0; */
    font-size: 45px;
    color: #fff;
    position: absolute;
    top: 43%;
    line-height: 45px;
    /* margin: 200px auto; */
    left:  0px;
    right:  0px;
}
.container_box{
    position: absolute;

}


.main_body{
    min-width: 640px;
}
.body1{
    background-color: #fff;
    min-width: 640px;
    /*width: 640px;*/
    /*margin: 0 auto;*/
}
.body1_stair1{
    padding: 60px 0;
    text-align: center;
}
.body2_stair2{
    padding: 80px 0;
    text-align: center;
}
.body1_stair2{
    text-align: center;

}
.title{
    font-size: 21pt;
    font-weight:bold;
    /*text-decoration: underline;*/
    /*border-bottom: solid #000 2px;*/
    padding: 80px;
}
.title p{
    padding: 0 0 7px 0;
    border-bottom: solid #a2a2a2 3px;
    display: inline;
    color:  #333;
    font-weight:  bold;
}
.button a{
    font-size: 20px;
    font-weight:bold;
    border: solid #000 2px;
    padding: 10px;
    transition: all 1s;
}
.button a:hover{
    font-size: 20px;
    font-weight:bold;
    border: solid #000 2px;
    padding: 10px;
    background-color: rgba(243, 89, 94, 0.67);
}


.title_color{
    color: #fff;
}
.body1_stair3_container{
    position: relative;
    width: 640px;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: space-around; */
}
.body1_stair3{
    background-color: #a0a0a0;
    margin: 80px 0 0 0;
}
.font_weith{
    width: 600px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    color: #333;
}
.box{
    display: flex;
    justify-content: space-around;
}
.body1_stair3_box{
    /* width: 440px; */
    text-align: center;
    padding: 30px 0;
}
.stair1_title{
    padding: 12px 0 85px 0;
}
/*.body1_stair3 img{*/
/*position: absolute;*/
/*top: 0;*/
/*right: 0;*/
/**/
/*}*/
.research_stair{
    padding: 12px 0;
}


.img_box {
    /* width: 500px; */
    overflow: hidden;
    /* display: flex; */
    /* justify-content: space-around; */
    text-align:  center;
}

.img_box img{
    max-width: 640px;
    /*max-height: 350px;*/
    padding: 30px 0;
}


.research_items{

}
.Research_interests{
    border-bottom: solid #fff 3px;
    color: #fff;
    padding: 0 0 8px 0;
}
.research_item{
    width: 140px;

    padding: 0 0 20px 0;

}
.research_item img{
    position: relative;
    width: 60px;
}

.research_item i{
    color: #fff;
    font-size: 30px;
}
.research_item p{
    color: #fff;
    margin: 15px 0 0 0;
    font-size: 15pt;
    line-height: 30px;
}

.icon-container{
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    /*position: absolute;*/
    left: 5px;
    transition: all 1s;

}
.icon-container:hover{
    background-color: #fff;
}
.icon-container .icon{
    color: #D43F52;
    font-size: 9px;
    /*position: relative;*/
    /*top: 14px;*/
}


.body2{
    background-color: #eee;
    min-width: 640px;
    padding: 0 0 100px 0;
}
.body2_container{
    /*width: 640px;*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*margin: 0 auto;*/
    /*transition: 1s;*/

    display: flex;
    margin: 0 auto;
    /* padding: 21px 130px; */
    transition: 1s;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}

.program_card{
    /* padding: 10px; */
    background-color: #fff;
    /*transition-property: box-shadow;*/
    /*transition-property: all;*/
    transition: 0.5s;
    /*position: relative;*/
    cursor:pointer;
    margin: 17px 20px;
    width: 37%;
    display:  inline-block;
}
.program_card:hover{
    box-shadow: 5px 5px 8px #88888894;
    top: -5px;
    transform: translateY(-5px);

}

.program_card img{
    height: 145px;
    width: 290px;
    vertical-align:middle;
}
.card_img{
    /* height: 180px; */
}

.program_mobile{
    /* padding: 10px; */
    background-color: #fff;
    /*transition-property: box-shadow;*/
    /*transition-property: all;*/
    transition: 0.5s;
    /*position: relative;*/
    cursor:pointer;
    margin: 17px 20px;
    /* width: 180px; */
    display:  inline-block;
}
.program_mobile:hover{
    box-shadow: 5px 5px 8px #88888894;
    top: -5px;
    transform: translateY(-5px);

}

.program_mobile img{
    /* height: 145px; */
    width: 260px;
    vertical-align:middle;
}


.member_card img{
    height: 100%;
    width: 100%;
    vertical-align:middle;
}

.program_card_title{
    text-align: center;
    margin: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    width: 240px;
    justify-content:  space-around;
}
.person_card_title{
    /*text-align: center;*/
    margin: 10px;
    font-weight: 700;
}
.person_card_content{
    margin: 10px;
    font-size: 12px;
}
.body3{
    background-color: #fff;
    min-width: 640px;
}

.body3_item{
    width: 640px;
    /* padding: 0 153px 20px 153px; */
    margin: 30px auto;
    padding: 0 40px 0 18px;
}
.body3_get{
    padding: 0 18px;
    display: inline;
}
.publication_choose a{
    color: #000;
    padding: 5px 0;
    border-bottom: solid #a2a2a2 2px;
}

.publication_button{
    font-size: 23px;
    font-weight:bold;
    color: #979797;
}

.button{
    font-weight:bold;
    color: #979797;
    padding: 80px 30px;
}
.prominent{
    background-color: #dddddd;
}
.display{
    display: none;
}
.body5_stair2_container .display{
    display: none;
}
.list_container{
    padding: 20px 130px 20px 20px;
    font-size: 15px;
    font-weight: 700;
    width: 640px;
    margin: 0 auto;
    color: rgba(0,0,0,0.8);
    position: relative;
}
.pub_more{
    position: absolute;
    right: 20px;
    top: 27px;
    width: 90px;
}
.pub_more span{
    display: none;
}

.pub_more a{
    color: #a0a0a0;
    margin: 0 10px;
    /* padding: 20px; */
    line-height: 30px;
}
.pub_more2{
    position: absolute;
    right: -8px;
    top: 20px;
    width: 130px;
}
.pub_more2 span{
    display: none;
}
.pub_more2 a{
    color: #a0a0a0;
    margin: 0 20px;
    /* padding: 20px; */
    line-height: 30px;
}
.paper_img{
    width: 30px;
    position: relative;
    top: -1px;
    /* left: 26px; */
}
.body4_title{
    color: #fff;
}
.body4_title p{
    padding: 0 0 10px 0;
    border-bottom: solid #fff 3px;
    display: inline;
    color:  #fff;
}

.body4_main{
    /* width: 640px; */
    margin: 0 auto;
}
.body4_main_container{
    padding: 20px 80px 80px 80px;
}

.events_stair1_left{
    /* float: left; */
    text-align:  center;
}

.events_stair1_right{
    /* float: right; */
    /* padding: 0 60px 0 0; */
}

.event_item{
    border-top: solid #fff 2px;
    padding: 20px 0 14px 0;
    /* width: 360px; */
}
.event_item p{
    color: #fff;
}
.event_detail{
    margin: 20px 0;
    text-align:  left;
}
.event_detail p{
    color: #fff;
    /* text-align:  right; */
}
.event_title{
    font-size: 15px;
}

.events_stair1_left img{
    width: 100%;
    /* height: 317px; */
}
.event_time{
    font-size: 12px;
    margin: 5px 0;
    /* color:  #fff; */
    text-align:  right;
}

.body4{
    background-color: #a0a0a0;
    /*height: 500px;!*test*!*/

}
.body5_stair1{
    /* width: 640px; */
    margin: 40px auto;
    position: relative;
    /* padding: 0 20px 110px 20px; */
}
.leader_img{
    /* position: absolute; */
    /* left: 117px; */
    text-align:  center;
    width: 520px;
    height: 360px;
    overflow:  hidden;
    margin:  0 auto;
}
.leader_img img{
    /* position: absolute; */
    /* left: 117px; */
    width: 510px;
    position:  relative;
    top: -50px;
}
.leader_introduce{
    padding: 0 110px 100px 110px;
}
.leader_introduce p{
    padding: 20px 0;
    /* width: 390px; */
}
.body5_title{
    /*color: #fff;*/
    text-align: right;
    padding: 25px 0;
}
.body5_title p{
    font-size: 15px;
    font-weight: 500;
    padding: 0 0 2px 0;
    border-bottom: solid #a8a8a8 2px;
    display: inline;
}
.leader_name{
    font-size: 25px;
    font-weight: 800;
}

.leader_detial{
    margin: 10px 0;
    font-size: 14px;
    line-height: 22px;
    text-indent: 50px;
    text-align: justify;
}

.body5_stair2{
    background-color: #eee;
}

.member_title{
    /*color: #fff;*/
    /*text-align: center;*/
    padding: 45px 80px;
    width: 640px;
    margin: 0 auto;
    position: relative;
}
.member_title p{
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 2px 0;
    border-bottom: solid #a1a1a1 2px;
    display: inline;
}
.member_container{
    /* width: 320px; */
    /* display: flex; */
    /* justify-content: space-around; */
    /*margin: 0px auto;*/
    /*padding: 0 114px;*/
    /*transition: all 0.5s;*/
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    padding: 0 10%;
    width:  100%;
    flex-wrap: wrap;
}

.activities{
    margin: 0 auto;
    width: 640px;
    padding: 0 0 60px 130px;
}
.activities_container{
    position: relative;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

.act{
    position: relative;
    transition: all 0.5s;
    float: left;
}
.act:hover .meeting{
    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,1);
}

.shadow1{
    background-color: rgba(0,0,0,0.7);
    width: 331px;
    height: 219px;
    position: absolute;
    top: 0px;
    left: 66px;
}
.shadow2{
    background-color: rgba(0,0,0,0.7);
    width: 309px;
    height: 219px;
    position: absolute;
    top: 0px;
    right: 66px;
}
.meeting{
    position: absolute;
    top: 108px;
    left: 100px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;

}
.brainstrming{
    position: absolute;
    top: 108px;
    right: 100px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.activities img{
    max-height: 219px;
    max-width: 380px;
    /* vertical-align:middle; */
    float: left;
    margin:  10px;
}
.activities_detail{
    /*height:225px;*/
    width: 300px;
    text-align: center;
    margin: 80px 0 0 0;
}
.activities_detail p{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    line-height: 30px;
}
.video{
    margin: 0 auto;
    /* width: 640px; */
    text-align: center;
    /* padding: 20px 0; */
}

.video img{

    /* max-height: 700px; */

    max-width: 100%;
}

.video_intro{
    height: 400px;

}
.video_intro p{
    border-left: solid #a1a1a1 3px;
    height: 200px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 40px;
    width: 230px;
    line-height: 26px;
}
.main_footer{
    /*height: 70px;*/
    background-color: #535353;
}
.footer_stair1{
    padding: 70px 0 0 0;
    margin: 0 auto;
    width: 640px;
    color: #a9a9a9;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
}
.footer_stair2{
    padding: 50px 0;
    margin: 0 auto;
    width: 640px;
    color: #878787;
    text-align: center;
    font-size: 12px;
}


