/* ---------- 全局样式 ---------- */
:root {
    --bgd-color: #cbe9f4;

}
body {
    background-color: var(--bgd-color);

}
.blogs_container{
    width: 1100px;
    /*height: 100%;*/
    margin: 0 auto;
    padding-top: 40px;
}
a:hover {
    border-bottom: 3px solid #4fc08d;
}
/*#box{*/
    /*overflow:hidden;*/
    /*text-overflow:ellipsis;*/
    /*display:-webkit-box;*/
    /*-webkit-box-orient:vertical;*/
    /*-webkit-line-clamp:3;*/
/*}*/


.button {
    background-color: #4fc08d !important;
    color: #fff !important;
}

.avatar {
    border-radius: 3px;
    width: 48px;
    height: 48px;
    float: right;
}

/* ---------- nav ---------- */

.nav {
    margin-bottom: 20px;
    color: #999;
    text-align: center;
}

.nav h1 {
    color: #4fc08d;
    display: inline-block;
    margin: 10px 0;
}

/* ---------- nav-setting ---------- */

.nav-setting {
    position: fixed;
    right: 30px;
    top: 35px;
    z-index: 999;
}

.nav-setting .ui.dropdown.button {
    padding: 10px 10px 0 10px;
    background-color: rgba(255, 255, 255, 0) !important;
}

.nav-setting .icon.bars {
    color: #000;
    font-size: 18px;
}

/* ---------- post-content ---------- */
.post-content{

}



.post-content h3 a {
    color: #4fc08d !important;
}

.post-content .tag {
    font-size: 13px;
    margin-right: 5px;
    color: #999;
}

.post-content .tag.right {
    float: right;
    margin-right: 0;
}

.post-content .tag.right a {
    color: #999;
}
.iframe_box{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.ui.segment.a_bg{
    background-color: rgba(255,255,255,0.1);
}